<p>order-home works!</p>

<header>
    <h1>My Orders</h1>
    <p>View all of your pending orders here.</p>
  </header>
  <div *ngFor="let o of orderArry">

  
  <div class="container">
    <div class="heading">
      <div class="odetails-1">
        <p><b>Order</b></p>
        <p>#R86F854G7665</p>
      </div>
      <div class="odetails-2">
        <p>Order Placed: Mon 12Th Jan 22</p>
      </div>

      <button><i class="fa-solid fa-location-crosshairs"></i>
        <p>TRACK ORDER</p>
      </button>
    </div>



    <hr>

    <div class="card-container">
      <div class="card">
        <div class="img">
          <img src="https://www.maxpixel.net/static/photo/1x/Shoes-Nike-Jordan-1-Fashion-Sneakers-Jordan-5418992.jpg" alt="Nike Air Jordan 1">
        </div>
        <div class="parent">
          <div class="content">
            <div class="details-1">
              <h1>NIKE AIR JORDAN 1 HIGH RETRO SPORTS SHOES</h1>
              <p>By NIKE</p>
            </div>
            <div class="details-2">
              <p>Size: 10</p>
              <p>Qty: 1</p>
              <p><b>₹13,995</b></p>
            </div>
          </div>
          <div class="status">
            <div class="sec1">
              <p>Status</p>
              <h2>In-Transit</h2>
            </div>
            <div class="sec2">
              <p>Delivery Expected By</p>
              <h3>17 January 2022</h3>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div class="card-container">
      <div class="card">
        <div class="img">
          <img src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.0/w_383,c_limit/dd682b9b-c58c-4bd2-985f-c715116d4a0b/air-max-intrlk-shoes-clCM4d.png" alt="Nike Air Jordan 1">
        </div>
        <div class="parent">
          <div class="content">
            <div class="details-1">
              <h1>Nike Air Max INTRLK</h1>
              <p>By NIKE</p>
            </div>
            <div class="details-2">
              <p>Size: 9</p>
              <p>Qty: 1</p>
              <p><b>₹9,695</b></p>
            </div>
          </div>
          <div class="status">
            <div class="sec1">
              <p>Status</p>
              <h2>In-Transit</h2>
            </div>
            <div class="sec2">
              <p>Delivery Expected By</p>
              <h3>17 January 2022</h3>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div class="card-bottom">
      <button>✖ CANCEL ORDER</button>
      <h1>₹23,690</h1>
    </div>
  </div>

</div>
