<div class="row" style="margin-top: 50px;">

    <div class="col-2"></div>
    <div class="col-8">


        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button (click)="getAllCarts()" type="button"
                class="btn btn-outline-secondary">All Cart</button>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button"
                class="btn btn-outline-secondary">Update Cart</button>&nbsp;&nbsp;&nbsp;
            
        </div>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button"
                class="btn btn-outline-secondary">Delete Cart</button>&nbsp;&nbsp;&nbsp;
            
        </div>



    </div>
    <div class="col-2"></div>

</div>
