<div class="container mt-5 mb-5">
    <h1>My Cart</h1> &nbsp;&nbsp;
  <div class="d-flex justify-content-center row">
<div class="col-md-10">
    <div class="row p-2 bg-white border rounded">
        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../../../../assets/images/top3.webp"></div>
        <div class="col-md-6 mt-1">
            <b>TOPWEAR</b>
            <div class="d-flex flex-row">
                <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>210</span>
            </div>
            <h5 class="bold">Neck tie flaire Sleeve blauson top</h5>
           
            <p class="text-justify text-truncate para mb-0">Best Deal of the season
                <br><br></p>
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
            <div class="d-flex flex-row align-items-center">
                <h4 class="mr-1">599.0</h4><span class="strike-text">RS.999.0 </span>
            </div>
            <h6 class="text-success">Free shipping</h6>
            <div class="d-flex flex-column mt-4"><button  class="btn btn-primary btn-sm" type="button" >Remove</button></div>
          </div>
            
        </div>
    </div>
</div>
</div>