<div class="alert alert-primary" role="alert" *ngIf="errorMsg">
  {{errorMsg}}
</div>

<div class="row">
  <div class="col-sm-12" *ngFor="let p of products">
    <!-- <div *ngIf="p.id==5"class="container mx-auto mt-4"> -->
      <div class="card-body">
       
        <h5 class="card-title">{{p.title}}</h5>
 <h5 class="card-text">{{p.shortDescription}}</h5>
 <h5 class="card-text">{{p.description}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Price: {{p.price}}</h6>
    
       

        <a href="Javascript.void(0)" routerLink="/product/review/{{p.id}}" class="card-link">Reviews & Ratings({{p.reviewCount}})</a>
        <div class="d-flex flex-column mt-4"><a href="/cart"><button  class="btn btn-primary btn-sm" (click)="productByCartId()" type="button" >Add to Cart</button></a></div>
      </div>
    </div>
  </div>



