header h1{
    padding: 0%;
  }
   .banner{
    background-attachment: fixed;
    background-image: url(../../../../../assets/images/baa.jpg);
    background-size: 100%;
    background-position: 0%; 
    background-repeat: no-repeat;
    min-height: 400px;
    height: fit-content;
  padding: 0%
   }

   
.bg-cover {
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}