<section>


    <div class="row" style="margin-top: 50px;">

        <div class="col-3"></div>
        <div class="col-6">


            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-secondary">Activate</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-outline-secondary">Check Balance</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-outline-secondary">Update</button>
            </div>



        </div>
        <div class="col-3"></div>

    </div>


</section>